In [5]:
date = '2024-04-30'

print('연도 :',date[:4])
print('월 : ',date[5:7])
print('일 : ',date[-2:])

연도 : 2024
월 :  04
일 :  30

In [8]:
# 공백으로 문장을 나누는 명령어 split
a = "준원이 바보 바보"
print(a.split()) #list
print(a.split()[0])
print(a.split()[1])
print(a.split()[2])

['준원이', '바보', '바보']
준원이
바보
바보

In [14]:
# -(하이픈)을 기준으로 split
date = '2024-04-30'
print(date.split('-'))
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

['2024', '04', '30']
2024
04
30

In [16]:
# 리스트 원소 정렬하기 .sort()
food =['피자','치킨','스테이크','된장찌게','바나나','파스타','감자칩']

food.sort()
print('정렬 후 : ',food)

정렬 후 :  ['감자칩', '된장찌게', '바나나', '스테이크', '치킨', '파스타', '피자']

In [18]:
# 리스트 원소 정렬하기 .sort(reverse=True)
food =['피자','치킨','스테이크','된장찌게','바나나','파스타','감자칩']

food.sort(reverse=True)
print('정렬 후 : ',food)

정렬 후 :  ['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌게', '감자칩']

In [22]:
# 문제 역순으로 정렬하고 첫번째 두번째를 출력해 보기
a = [25,36,8,53,24,56]

a.sort(reverse=True)
print(a[0:2])

[56, 53]

In [27]:
# 리스트 원소 중 최대값, 최소값 찾기 max min

a = [25,36,8,53,24,56]

print('최대값 : ',max(a))
print('최소값 : ',min(a))

# 리스트 원소 전체의 합 : sum
print('전체값 : ',sum(a))
# 리스트안의 원소의 위치를 찾기 index
print('24의 위치는 : ',a.index(24)+1)

최대값 :  56
최소값 :  8
전체값 :  202
24의 위치는 :  5